<div class="row bg-primary align-items-center">
  <div class="col-md-10 text-center text-light">
    <a routerLink="">
      <h1>Welcome To GregsList Angular - v2</h1>
    </a>
  </div>
  <div class="col-md-2">
    <app-create-modal></app-create-modal>
  </div>
</div>
<div class="row justify-content-between text-center my-3">
  <div class="col-md-3">
    <button routerLink="/cars" class="btn btn-success">Cars</button>
  </div>
  <div class="col-md-3">
    <button routerLink="/jobs" class="btn btn-success">Jobs</button>
  </div>
  <div class="col-md-3">
    <button routerLink="/houses" class="btn btn-success">Houses</button>
  </div>
</div>
<hr>
<div class="row my-2">
  <router-outlet></router-outlet>
</div>